/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-text-shadow: #ff0070;
  --accent-title-color: #000028;
  --section-title-color: #ff0070;
  --font-page: "IBM Plex Mono";
}
